{{#link-to 'route2'}}Next{{/link-to}} &lt;-- Click that guy to start leaking

<hr>
<p>Below in grey is an instance of &#123;&#123;leaky-component&#125;&#125; that contains an element with <i>fake-attrib="leaky-&#123;&#123;product.id&#125;&#125;"</i>.  It seems to get leaked on every route transition</p>
<div style="background-color:#dddddd;">
  {{leaky-component}}
</div>
<h4>Activities</h4>
<ul>
<li>Use the memory-timeline dev tool to watch the node count go up as you go between route1 and route2</li>
<li>If you uncomment the #each in &#123;&#123;leaky-component&#125;&#125;'s template, the leaks become much, much bigger.</li>
<li>If you change that fake-attrib value to <i>fake-attrib="leaky-5"</i>, then the leaks on route transitions go away</li>
</ul>
