{{#link-to 'route2'}}Next{{/link-to}} &lt;-- Click that guy

<h3>So what's the deal with this?</h3>
This is an extremely simple app:
<pre>
--Route 1
----a link-to to route 2
----this text
--Route 2
----a link-to back to route 1
</pre>

And yet if you travel back and forth between route1 and route2, it leaks nodes like a sieve.  This happens whether you click the link-tos or use forward/back.  Best thing to watch is the node count in chrome devtools->timeline.  Even when chrome cleans up, each trip to route2 and back results in more and more allocated nodes.
