<span fake-attrib="leaky-attrib5">The parent span of this text might be leaky!</span>

<h4>Here's some stuff that makes this component bigger</h4>
{{#each wasteArray as |value|}}
  <b><i><u><p>Look! a waste of space! {{value}}</p></u></i></b>
{{/each}}
